<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">
    <targets>		
        <!--屏幕打印消息-->
        <target name="console" xsi:type="ColoredConsole" 
            layout="${date:format=HH\:mm\:ss}> [${level:uppercase=false}] ${message}"/>
						
        <!--保存至文件-->
        <target name="file" xsi:type="File" maxArchiveFiles="31" encoding="utf-8"
				  archiveFileName="${basedir}/Log/sdk.log.{#}.txt" archiveNumbering="Date"
				  archiveEvery="Day" archiveDateFormat="yyyyMMdd"
				  fileName="${basedir}/Log/sdk.log"
				  layout="[${longdate}][${level:uppercase=false}][${message}]" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>